.bio{
    background-color: rgb(156, 8, 255);
}

.external-bio-links{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 2vw;
    padding-right: 3vw;
}

.externalLink {
    width: 1.5rem;
}

li {
    list-style: none;
}

.nameAndPic {
    display: flex;
    justify-content: center;
}