.bio{
    background-color: rgb(156, 8, 255);
    width: 100vw;
}

.external-bio-links{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 3vw;
}

.externalLink {
    width: 1.5rem;
}

li {
    list-style: none;
}