:root {
    --red: #AA1155;
    --orage: #D45113;
    --white: #F1E4F3;
    --green: #94C9A9;
    --blue: #2C666E;
}

.footer{
    background-color: var(--orage);
    text-align: left;
padding-top: 10vh;
    flex-shrink: 0;
}